// @media(max-width:767px){}
// @media(min-width:768px){}
// @media(min-width:992px){}
// @media(min-width:1200px){}

@media(max-width:767px){
    .navbar{
        width:70%;
        margin-left:30%;
        background-color: red;
    }
}

